<form
  [formGroup]="searchPosts"
  (ngSubmit)="onSubmit()"
  class="form flex-col form__search"
>
  <div class="form__group">
    <input
      type="text"
      class="form__input"
      formControlName="title"
      placeholder="Post title"
    />
  </div>
  <div class="form__group">
    <input
      type="text"
      class="form__input"
      formControlName="content"
      placeholder="Post content"
    />
  </div>

  <div class="form__group">
    <label>
      <input type="checkbox" class="form__checkbox" formControlName="simple" />
      Simple
    </label>
  </div>
  <div class="form__group">
    <label>
      <input
        type="checkbox"
        class="form__checkbox"
        formControlName="advanced"
      />
      Advanced
    </label>

    <label *ngIf="searchPosts.get('advanced').value">
      <input type="radio" class="form__radio" formControlName="operation" value="AND" />
      AND
    </label>
    <label *ngIf="searchPosts.get('advanced').value">
      <input type="radio" class="form__radio" formControlName="operation" value="OR" />
      OR
    </label>
    <label *ngIf="searchPosts.get('advanced').value">
      <input type="radio" class="form__radio" formControlName="operation" value="NOT" />
      NOT
    </label>
  </div>

  <div class="form__group">
    <label>
      <input type="checkbox" class="form__checkbox" formControlName="fuzzy" />
      Fuzzy
    </label>
  </div>
  <div class="form__group">
    <label>
      <input type="checkbox" class="form__checkbox" formControlName="phraze" />
      Phrase
    </label>
  </div>

  <div class="form__group">
    <label>
      <input
        type="checkbox"
        class="form__checkbox"
        formControlName="rangeSearch"
      />
      Range Search (Likes)
    </label>
  </div>
  <div class="form__group" *ngIf="searchPosts.get('rangeSearch').value">
    <input
      type="number"
      class="form__input"
      formControlName="minLikesRange"
      placeholder="Minimum Likes"
    />
    <input
      type="number"
      class="form__input"
      formControlName="maxLikesRange"
      placeholder="Maximum Likes"
    />
  </div>

  <app-button
    size="md"
    color="blue"
    text="Submit"
    class="search__button"
  ></app-button>
</form>

<div *ngIf="posts.length" class="search-results">
  <h3>Search Results:</h3>
  <ul>
    <li *ngFor="let post of posts" class="search-results__item">
      <h4>{{ post.title }}</h4>
      <p>{{ post.content }}</p>
    </li>
  </ul>
</div>
