<form
  [formGroup]="searchGroups"
  (ngSubmit)="onSubmit()"
  class="form flex-col form__search"
>
  <div class="form__group">
    <input
      type="text"
      class="form__input"
      formControlName="name"
      placeholder="Group name"
    />
  </div>
  <div class="form__group">
    <input
      type="text"
      class="form__input"
      formControlName="description"
      placeholder="Group description"
    />
  </div>
  <div class="form__group">
    <label>
      <input type="checkbox" class="form__checkbox" formControlName="simple" />
      Simple
    </label>
  </div>
  <div class="form__group">
    <label>
      <input
        type="checkbox"
        class="form__checkbox"
        formControlName="advanced"
      />
      Advanced
    </label>
  </div>
  <div class="form__group">
    <label>
      <input type="checkbox" class="form__checkbox" formControlName="fuzzy" />
      Fuzzy
    </label>
  </div>
  <div class="form__group">
    <label>
      <input type="checkbox" class="form__checkbox" formControlName="phraze" />
      Phrase
    </label>
  </div>

  <div class="form__group">
    <label>
      <input
        type="checkbox"
        class="form__checkbox"
        formControlName="rangeSearch"
      />
      Range Search (Posts)
    </label>
  </div>
  <div class="form__group" *ngIf="searchGroups.get('rangeSearch').value">
    <input
      type="number"
      class="form__input"
      formControlName="minPostsRange"
      placeholder="Minimum Posts"
    />
    <input
      type="number"
      class="form__input"
      formControlName="maxPostsRange"
      placeholder="Maximum Posts"
    />
  </div>
  <app-button
    size="md"
    color="blue"
    text="Submit"
    class="search__button"
  ></app-button>
</form>
<div *ngIf="this.groups.length" class="search-results">
  <h3>Search Results:</h3>
  <ul>
    <li *ngFor="let group of this.groups" class="search-results__item">
      <h4>{{ group.name }}</h4>
      <p>{{ group.description }}</p>
      <p>Posts: {{ group.postNumber }}</p>
    </li>
  </ul>
</div>
